
<html>
<head>
	<title>Administrator</title>
    <base href="/">
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"/>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"></script>
<script src="https://cdn.jsdelivr.net/npm/heatmapjs@2.0.2/heatmap.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/leaflet-heatmap@1.0.0/leaflet-heatmap.js"></script>
 <script src="adminMap.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.js"></script>
	<link rel="stylesheet" type="text/css" href="/admin.css">
	<script src="https://kit.fontawesome.com/2008d86346.js" crossorigin="anonymous"></script>

</head>
<body onload="return createMapAdmin()">

<link href='https://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'>

    
    <a href="/admin" class="btn"><i class="fa fa-map" aria-hidden="true"></i>    Χάρτης</a>
    <a href="/adminstats" class="btn"><i class="fa fa-line-chart" aria-hidden="true"></i>     Στατιστικά</a>
    <a href="export.html" class="btn"><i class="fa fa-download" aria-hidden="true"></i>
    Εξαγωγή</a>
    <a href="delete.html" class="btn"><i class="fa fa-trash-o" aria-hidden="true"></i>    Διαγραφή</a>
    
    <div id="filter">
        <label for="startdate">Από</label>
        <input type="month" name="startdate">
        <label for="enddate">Έως</label>
        <input type="month" name="enddate" ><br><br>
        <label for="acttype">Τύπος Δραστηριότητας</label>
        <input list="activity">
        <datalist id="activity">
            <option value="Αυτοκίνητο">
            <option value="Ποδήλατο">
            <option value="Περπάτημα">
            <option value="Τρέξιμο">
            <option value="Ακινησία">
          </datalist>
        <button type="submit" id="submitbutton"><i class="fas fa-check-double"></i> <br> ΑΠΟΔΟΧΗ</button>



</div>

<div id="mapadmin"></div>
</body>
</html>