<!DOCTYPE html>
<html>
<head>
	<title>Διαγραφή Δεδομένων</title>
	 <base href="/">
	<link rel="stylesheet" type="text/css" href="/delete.css">
	<script src="https://kit.fontawesome.com/2008d86346.js" crossorigin="anonymous"></script>
</head>
<body>

<link href='https://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'>

    <form method='delete'action="/admin/delete">
    <a href="/admin" class="btn"><i class="fa fa-map" aria-hidden="true"></i>    Χάρτης</a>
    <a href="/adminstats" class="btn"><i class="fa fa-line-chart" aria-hidden="true"></i>     Στατιστικά</a>
    <a href="/admin/export" class="btn"><i class="fa fa-download" aria-hidden="true"></i>
    Εξαγωγή</a>
    <a href="/admin/delete" class="btn"><i class="fa fa-trash-o" aria-hidden="true"></i>    Διαγραφή</a>
    <a href="/admin/logout" class="btn"><i class="fas fa-sign-out-alt"></i>Αποσύνδεση</a>
<h2>Η παρακάτω ενέργεια θα οδηγήσει στην πλήρη και μη αναστρέψιμη διαγραφή <br> όλων των στοιχείων της Βάσης Δεδομένων.
 Είστε σίγουρος ότι <br>θέλετε να προχωρήσετε;</h2>

 <button id="yes">
  <i class="far fa-check-circle"></i>       Αποδοχή</i>
</button>

<div id="deletepopup" class="popup">

  <div class="popup-content">
    <span class="close">&times;</span>
    <p>Η Διαγραφή ολοκληρώθηκε</p>
  </div>

</div>

<script>
  var popup = document.getElementById("deletepopup");
  
  var btn = document.getElementById("yes");
  
  var span = document.getElementsByClassName("close")[0];
  
  btn.onclick = function() {
    popup.style.display = "block";
  }
  
  span.onclick = function() {
    popup.style.display = "none";
  }
  
  window.onclick = function(event) {
    if (event.target == popup) {
      popup.style.display = "none";
    }
  }
  </script>
</form>

</body>
</html>