<html>
  <head>
	<title>Contact</title>
  <script type="module" src="server.js"></script>
</head>
<body>

<form action="contactform.html" id="contact-form" method="post" role="form" onsubmit="return contact()">
  <fieldset>
    <label for="name">Name</label>
    <input id="name" name="name" type="text" placeholder="Your name" required="" <label="" for="email">Email
    <input id="email" name="email" type="text" placeholder="Your email" required="" <label="" for="message">Message
    <textarea id="message" name="message" placeholder="Enter your message here" rows="3" required="">    </textarea>

    <button type="submit">Submit</button>
  </fieldset>
</form>


</body></html>