body{
  background-color: darkgrey;
}
html {
  height: 100%;
  margin: auto;
  width: 960px;
}


#header {
  height: 60px;
  margin-right: 100px;
  border: : 2px solid #2196F3;
  float:right;
  padding: 10px;
}

#datetimebox{
  background-color: #2196F3;
  color: white;
  padding: 6px;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  float:left;
  margin-right: 10px;
}

.dropbtn {
  background-color: #2196F3;
  color: white;
  padding: 6px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  float:right;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

#username{
  float: left;
  background-color: #2196F3;
  color: white;
  padding: 6px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  margin-right: 10px;
}

.sidebar {
  width: 210px;
  position: absolute;
  z-index: 1;
  top: 100px;
  left: 30px;
  background: #000000;
  overflow-x: hidden;
  padding: 40px;
  border-radius: 25px;
}


.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 26px;
  color: #2196F3;
  display: block;
}


.sidebar a:hover {
  color: #064579;
}

.main {
  margin-left: 140px; 
  font-size: 28px; 
  padding: 0px 10px;
}

.statshead{
  padding:80px;
  width: 500px;
  position: absolute;
  top:100px;
  left:450px;
  background-image: url("stats.jpg");
  background-size: cover;
  text-align: right;
  font-size:20px;
  border-radius: 0px 0px 30px 30px;
}

.statstext{
    font-style: italic;
  position:absolute;
    bottom:10px;
    right:20px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.agraph{
  position: absolute;
  height: 180px;
  width: 300px;
  top:320px;
  left:470px;
  border:1px groove black;
  background-color: white;
}

.bgraph{
  position: absolute;
  height: 180px;
  width: 300px;
  top:320px;
  left:850px;
  border:1px groove black;
  background-color: white;
}

.cgraph{
  position: absolute;
  height: 180px;
  width: 600px;
  top:550px;
  left:470px;
  border:1px groove black;
  background-color: white;
  margin: 20px 0;
}
#filter{
    position: absolute;
    color: white;
    width: 200px;
    z-index: 1;
    top: 370px;
    left: 30px;
    background: #000000;
    overflow-x: hidden;
    padding: 40px;
    border-radius: 25px;
}

#parag1{
    color:#2196F3;
}

button[type=submit]{
    border-radius: 0px;    
    padding:10px;
    background-color: #2196F3;
    position: relative;
    left: 50px;
}

button[type=submit]:hover {
    background-color: greenyellow;
    cursor: pointer;
    transition: background 0.5s ease-in-out;
  }







@media only screen and (max-width: 1000px){
#header {
  height: 60px;
  margin-right: 100px;
  border: : 2px solid #2196F3;
  float:right;
  padding: 10px;
}

#datetimebox{
  background-color: #2196F3;
  color: white;
  padding: 6px;
  font-size: 50px;
  border: none;
  border-radius: 25px;
  float:left;
  margin-right: 10px;
}
.dropbtn {
  background-color: #2196F3;
  color: white;
  padding: 6px;
  font-size: 50px;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  float:right;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

#username{
  float: left;
  background-color: #2196F3;
  color: white;
  padding: 6px;
  font-size: 50px;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  margin-right: 10px;
}

.sidebar {
  width: 800px;
  position: absolute;
  z-index: 1;
  top: 100px;
  left: 50px;
  background: #000000;
  overflow-x: hidden;
  padding: 40px;
  border-radius: 25px;
}


.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 60px;
  color: #2196F3;
  display: block;
  text-align: center;
}


.sidebar a:hover {
  color: #064579;
}

.main {
  margin-left: 140px; 
  font-size: 60px; 
  padding: 0px 10px;
}


.statshead{
  padding:160px;
  width: 1000px;
  position: absolute;
  top:700px;
  left:150px;
  background-image: url("stats.jpg");
  background-size: cover;
  text-align: right;
  font-size:50px;
  border-radius: 0px 0px 30px 30px;
}

.statstext{
    font-style: italic;
  position:absolute;
    bottom:10px;
    right:20px;
}


.agraph{
  position: absolute;
  height: 720px;
  width: 1400px;
  top:1120px;
  left:170px;
  border:1px groove black;
  background-color: white;
  
}

.bgraph{
  position: absolute;
  height: 720px;
  width: 1200px;
  top:2040px;
  left:170px;
  border:1px groove black;
  background-color: white;
   
}

.cgraph{
  position: absolute;
  height: 720px;
  width: 1200px;
  top:2900px;
  left:170px;
  border:1px groove black;
  background-color: white;
  margin: 20px 0;
   
}
[type="date"] {
    background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
  }
  [type="date"]::-webkit-inner-spin-button {
    display: none;
  }
  [type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
  

#startdate {
    position: absolute;
    margin-top: 3800px;
    margin-left: 300px;
    margin-bottom: 80px;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
    width: 400px;
    font-size: 50px;
  }

#enddate {
    position: absolute;
    margin-top: 3800px;
    margin-left: 850px;
    margin-bottom: 80px;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
    width: 400px;
    font-size: 50px;
  }
  h4{
    position: absolute;
    margin-top: 3700px;
    margin-left: 500px;
    font-size: 50px;
  }
.SubmitButton{
  position: absolute;
  top: 3900px;
    left: 600px;
    border-radius: 10px;
     background-color: #0e330e;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  margin: 20px 0;
  font-size: 50px;
}

.SubmitButton:hover {
  background-color: #31db25;
  transition-duration: 0.6s;
          -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);

}