* {
  -webkit-transition-property: all;
  -webkit-transition-duration: .2s;
  -moz-transition-timing-function: cubic-bezier(100,50,21,6);
  -moz-transition-property: all;
  -moz-transition-timing-function: cubic-bezier(100,50,21,6);
}

body{
  background:#1b1b2b;
  padding:75px;
  text-align:center;
  font-family: 'Oswald', sans-serif;
}

h1{
  color:#c0c0c0;
  font-weight:100;
}

#logo{
  position: absolute;
    left: 0px;
    top: 0px;
width: 100px;
height: 40px;
}

.btn{
  color:#999;
  background:rgba(0, 0, 0, 0.5);
  padding:15px 40px;
  font-size:12px;
  text-decoration:none;
  letter-spacing:2px;
  text-transform:uppercase;
}

.btn:hover{
  border:none;
  background:rgba(0, 0, 0, 0.4);
  background:#fff;
  padding:25px 60px; #000;
  color:#1b1b1b;
}


#filter{
  position: absolute;
  background-color:lavender;
  width:300px;
  border-radius: 25px;
  left: 20px;
  top: 200px;
  padding:25px;
  box-shadow: 0px 0px 14px #000000;

}



#map{
position: absolute;
    height: 750px;
    width: 750px;
    /* top: 220px; */
    /* bottom: 20px; */
    left: 500px;
    right: 200px;
    top:150px;
    margin-bottom: 40px;
    border: 1px groove black;
    background-color: white;
    border-radius: 10px;

}


button[type=submit]{
  border-radius: 0px;    
  padding:10px;
  background-color: #2196F3;
  position: relative;
  border-radius: 25px;
}

button[type=submit]:hover {
  background-color: #8c8927;
  cursor: pointer;
  transition: background 0.5s ease-in-out;
}

select {
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: -internal-light-dark-color(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  -webkit-appearance: menulist;
  box-sizing: border-box;
  align-items: center;
  white-space: pre;
  -webkit-rtl-ordering: logical;
  background-color: -internal-light-dark-color(white, black);
  cursor: default;
  margin: 0em;
  font: 400 13.3333px Arial;
  border-radius: 0px;
  border-width: 1px;
  border-style: solid;
  border-color: #1b1b2b;
  border-image: initial;
  padding:10px;
}

select:hover{
  cursor: pointer;
}

@media only screen and (max-width: 1000px){
#logo{
  position: absolute;
    left: 0px;
    top: 0px;
width: 200px;
height: 80px;
}
body{
 
display: block;}


.btn{
  
  
  padding:10px 0px;
  font-size:38px;
  text-decoration:none;
  letter-spacing:2px;
  
 
}
.btn:hover{
  
  padding:40px 20px; #000;
 
}
#map{

    height: 1000px;
   width: 1000px;
    left: 5px;
    top: 1450px;
    font-size: 35px;
    
  }

   body{
 
  padding:100px;
  
}
#filter{
  position: absolute;
  background-color:lavender;
  width:600px;
  border-radius: 25px;
  top: 250px;
  padding:25px;
  box-shadow: 0px 0px 14px #000000;
  left:170px;
  font-size: 30px;
}
 #month1{
  font-size: 40px;
 }
 #month2{
  font-size: 40px;
 }
  #day1{
    font-size: 40px;
  }
  #day2{
    font-size: 40px;
  }
  input[type=number]{
    font-size: 40px;
  }


button[type=submit]{
  border-radius: 0px;    
  padding:20px;
  background-color: #2196F3;
  position: relative;
  border-radius: 25px;
  font-size: 30px;
}

button[type=submit]:hover {
  background-color: #8c8927;
  cursor: pointer;
  transition: background 0.5s ease-in-out;
}
}