#score{
  position: fixed;
  color:#2196F3;
  background-color: black;
  left:380px;
  top: 60px;
  padding:40px;
  border:2px solid black;
  border-radius: 25px;
  width:120px;
  height:25px;
}


#periodos{
  position: fixed;
  color:#2196F3;
  background-color: black;
  left:680px;
  top: 60px;
  padding:40px;
  border:2px solid black;
  border-radius: 25px;
  width:120px;
  height:25px;
}

#update{
  position: fixed;
  color:#2196F3;
  background-color: black;
  left:980px;
  top: 60px;
  padding:40px;
  border:2px solid black;
  border-radius: 25px;
  width:120px;
  height:25px;
}